@media scrin and (min-width: 428px) {
    .container  {
        width: 100%;
        max-width: 428px;
        margin-right: auto;
        margin-left: auto;
    }
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
         }
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        }
                
    .about-list {
        gap: 24px;
    }
                   
}
@media scrin and (min-width: 768px) {
.container {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;  
}
}
    
@media scrin and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}