@media scrin and (min-width: 428px) {
    .container  {
        width: 100%;
        max-width: 428px;
        margin-right: auto;
        margin-left: auto;
        
    }
    .section {
        padding: 96px 0;

    }
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        }
    .header-list {
        display: none;
        align-items: flex-start;
        padding: 0px;  
    }
    .header-address {
        font-style: normal;
        display: none;
        gap: 40px;
    }
           
    .charm-menu{
        position: absolute;
        border: none;
        background-color: transparent;
        width: 32px;
    }
    .mobile-icon{
        fill: var(#ffffff);
    }
    .mob-menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        padding: 24px 35px 40px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
        top: 0;
    }
    .mob-menu-close{
        position: absolute;
        background-color: transparent;
        border: none;
        display: block;
        margin-left: auto;
        margin-bottom: 32px;
    }
    .mob-menu-list{
        margin-bottom: 64px;
    }
    .mob-menu-item:not(:last-child){
        margin-bottom: 40px;
    }
    .mob-menu-button{
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2E2F42;
    } 
    .mob-menu-tel{
       font-size: 36px;
        line-height: 1.11;  
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #4D5AE5; 
    }
    .mob-menu-email{
        font-size: 20px;
        line-height: 1.2;       
        letter-spacing: 0.02em;
        color: #434455;
    }
    .mob-social-list{
        gap: 64px;
    }
    .hero {
        background-color: var(--hero);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office-1.jpg);
        max-width: 1440px;
        margin: 0 auto;
        padding: 112px 0;
        text-align: center;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
}
    .hero-title {
        font-family: 'Roboto', sans-serif;
        margin: 0 auto 48px;
        width: 320px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.07;
        text-align: center;
        letter-spacing: 0.02em;
        color: var(--hero-F);
    }  
        
    .about-list {
        display: flex;
        gap: 24px;
        flex-direction: column;
    }
    .about-item {
        width: calc((100% - 72px)/4);
    }
    .about-item::before {
        display: none;
        content: "";
        height: 112px;
        background-color: var(--section-team-background);
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .icon-strategy::before {
        background-image: url(../images/antenna.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .icon-punctuality::before {
        background-image: url(../images/clock.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .icon-diligence::before {
        background-image: url(../images/diagram.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .icon-technologies::before {
        background-image: url(../images/astronaut.svg);
        background-position: center;
        background-repeat: no-repeat;
    }
    .about-subtitle {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        color: var(--about-subtitle);
        text-transform: capitalize;
        margin: 0 0 8px;
           }
    .about-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--about-text);
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
        margin: 0;
    }
    .about {
        padding-top: 0;
        display: none;
    }
    .team-list {
        flex-direction: column;
        gap: 72px;
    }
    .team-info {
        width: 264px;
        background-color: var(--header);
        display: block;
        border-radius: 0px 0px 4px 4px;
 }
    .customers-list {
        justify-content: center;
        gap: 72px 16px;
 }
    .customers-item {
        width: calc((100% - 16px)/2);
        height: 88px;
 }
    .footer {
     background-color: var(--footer);
     padding: 96px 0;
 }
    .foot-cont {
     display: flex;
     flex-direction: column;
     gap: 72px;

 }
 .footer-title {
    justify-content: center;
     position: absolute;
     width: 115px;
     height: 22px;
     left: 156px;
     top: 2380px;
 }
 .footer-label {
     display: flex;
     flex-direction: column;
     gap: 24px;
 }
        
}
@media scrin and (min-width: 768px) {
.container {
        max-width: 768px;
        width: 100%;
        margin: 0 auto;  
}
}
    
@media scrin and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}