@media scrin and (min-width: 480px) {
    .container  {
        width: 448px;
    }
}
@media scrin and (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media scrin and (min-width: 1200px) {
    .container {
        width: 1158px;
    }
}